{{> header}}



<h1>Listado Retos</h1>

<table class="table table-striped table-bordered">
    <thead>
    <th>id</th>
    <th>Titulo Reto</th>
    <th>Imagen Reto</th>
    <th>Borrador</th>
    <th>Descripción</th>
    <th>Instrucciones</th>
    <th>Requisito</th>
    <th>Video Reto</th>
    <th>
        <button data-toggle="modal" data-target="#newElementModal" class="btn btn-info" onclick="dropData()">
            Nuevo Reto
        </button>
    </th>
    </thead>

    {{#challenges}}
        <tr>
            <td>{{id}}</td>
            <td><a href="../exercises/?idChallenge={{id}}">{{name.es}}</a></td>
            <td><img src='{{urlAbsolute}}'></td>
            <td>{{isDraft}}</td>
            <td>{{description.es}}</td>
            <td>{{instructions.es}}</td>
            <td>{{requiredChallenge.name.es}}</td>
            <td><a href="{{videoEsUrlAbsolute}}">{{videoEsUrlRelative}}</a></td>
            <td id="editTd{{id}}">

                <a href='deleteChallenge/?idChallenge={{id}}&idCourse={{courseId}}'>
                    <button type='button' class='btn btn-danger'>Eliminar Reto</button>
                </a></td>
        </tr>
        </tr>

        <script>
            var data{{id}} = {name: "{{name.es}}", id: "{{id}}", requirement: "{{requiredChallenge.id}}"};
            var $button = "<button data-toggle='modal' data-target='#newElementModal' class='btn btn-success' data-target='#newElementModal' onclick='editData(data{{id}})'>Modificar Reto</button>";
            $("#editTd{{id}}").append($button);

            function editData(obj) {
                document.getElementById("name_es").value = obj.name;
                document.getElementById("id_challenge").value = obj.id;
                document.getElementById('requiredChallengeId').value = obj.requirement

            }

            function dropData() {
                document.getElementById("name_es").value = "";
                document.getElementById("id_challenge").value = "";
                document.getElementById("warning_es").value = "";
                document.getElementById("file1").value = "";
            }

        </script>


    {{/challenges}}

</table>



<!-- Modal -->

<div class="modal fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="Crear Elemento"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nueva Reto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="createChallengeAction" method="POST" enctype="multipart/form-data">
                    <label>ID Reto: AUTO-ASIGNADO </label>
                    <input type="hidden" id="id_challenge" name="id_challenge"/>
                    <input type="hidden" id="id_course" name="id_course"/>
                    <br/>
                    <label>Titulo Reto: </label>
                    <input type="text" name="name_es" id="name_es"/>


                    <label>Descripción: </label>
                    <input type="text" name="description" id="description"/>

                    <label>Instrucciones: </label>
                    <input type="text" name="instructions" id="instructions"/>

                    <label>Requisito: </label>
                    <select name="requiredChallengeId" id="requiredChallengeId">
                        <option value=""></option>

                        {{#challenges}}
                        <option value={{id}}>{{name.es}}</option>
{{/challenges}}
                    </select>
                    <br/>

                    <label>Warning Reto: </label>
                    <textarea rows="3" cols="50" name="warning_es"></textarea>
                    <br />

                    <label>Imagen: </label>
                    <br/>
                    <input type="file" name="file1" id="file1">

                    <label>Video: </label>
                    <br/>
                    <input type="file" name="video1" id="video1">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const idCourse = urlParams.get('idCourse');
    document.getElementById("id_course").value = idCourse;
</script>

{{> footer}}
